<br><br>
<div class="section-wrapper container">
    <div class="row">
        <div class="form-layout">
            <div class="row">
                <mdb-navbar SideClass="navbar navbar-dark indigo">
                    <mdb-navbar-brand>
                        <a class="navbar-brand" href="#" style="font-weight: bold;align-items: center;">
                            Clinic System
                        </a>

                        <a class="navbar-brand" style="align-items: flex-end;color: white;">
                            MyAppointments
                        </a>
                    </mdb-navbar-brand>
                </mdb-navbar>
            </div><br><br>
        </div> <br><br>
        <div class="row">
                <div style="width:20%">
                    <input type="text" class="form-control" aria-label="From" [(ngModel)]=From name="From">
                </div>
                <div style="width:20%">
                    <input type="text" class="form-control" aria-label="To" [(ngModel)]=To name="To">
                </div>
                <div style="width:20%">
                    <mat-form-field appearance="fill">
                        <mat-label>Days</mat-label>
                        <mat-select  [(value)]="selectedItem">
                            <mat-option *ngFor="let st of enumNames"[value]="st">{{st}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div><br><br>
                <div style="width:30%">
                    <button class="btn btn-success" (click)="get_appointmentsRange()"> Search</button>
                </div>
        </div> <br><br>

        <div class="col-sm">
            <div class="table-responsive" id="my-table">
                <table class="table table-bordered table-md .thead-dark">
                    <thead>
                        <tr>
                            <th> Patient Id </th>
                            <th> Patient Name </th>
                            <th> Patient Age </th>
                            <th> Patient Address </th>
                            <th> Patient BirthDate </th>
                            <th> Patient MobileNumber </th>
                            <th> Schedule From </th>
                            <th> Schedule To </th>
                            <th> Schedule Day </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of appoinmentsData ">
                            <td>{{item.patient.id}}</td>
                            <td>{{item.patient.userName}}</td>
                            <td>{{item.patient.age}}</td>
                            <td>{{item.patient.address}}</td>
                            <td>{{item.patient.birthDate}}</td>
                            <td>{{item.patient.mobileNumber}}</td>
                            <td>{{item.schedule.from}}</td>
                            <td>{{item.schedule.to}}</td>
                            <td>{{item.schedule.day}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="card-footer pb-0 pt-3">
        </div>
    </div>
</div>